<div class="login-box col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-5 ">
    <div class="card text-center border-secondary">
        <div class="card-header bg-secondary text-white">
            LOGIN REQUIRED
        </div>
        <div class="card-body">
            <h4 class="card-title">You are entering a user restricted area</h4>
            <p class="card-text">Please provide your credentials to continue.</p>

            <form class="login-form">
                <label class="placeholder">
                    <input type="text" name="username" class="form-control" required value="">
                    <span class="text">Username</span>
                </label>

                <label class="placeholder">
                    <input type="password" name="password" class="form-control" required value="">
                    <span class="text">Password</span>
                </label>

                <button type="submit" href="#" class="btn btn-outline-primary mt-3 w-100">Login</button>
            </form>

        </div>
    </div>
</div>